# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
data/rawReads.csv
data/betterCondensedDistance.csv
data/magicOutput/magicWithoutNormalization1.csv
data/magicOutput/magicWithNormalization13.csv
data/magicOutput/magicWithNormalization9.csv
data/magicOutput/magicWithoutNormalization7.csv
data/magicOutput/magicWithoutNormalization3.csv
data/magicOutput/magicWithNormalization3.csv
data/magicOutput/magicWithNormalization19.csv
data/magicOutput/magicWithNormalization17.csv
data/magicOutput/magicWithoutNormalization5.csv
data/magicOutput/magicWithNormalization7.csv
data/magicOutput/magicWithoutNormalization11.csv
data/magicOutput/magicWithNormalization11.csv
data/magicOutput/magicWithNormalization15.csv
data/magicOutput/magicWithNormalization1.csv
data/magicOutput/magicWithNormalization5.csv
data/magicOutput/magicWithoutNormalization9.csv
data/magicOutput/magicWithoutNormalization13.csv
data/rawReadsWithUnexpressedGenes.csv
data/distanceMatrix.csv
data/rawReadsWithCellNames.csv
data/squareformDistance.csv
data/Normalized scRNA Data Output/magicWithNormalization.csv
data/Normalized scRNA Data Output/transposedEset.csv
data/Normalized scRNA Data Output/magicWithoutNormalization.csv
data/condensedCompleteDistMatrix.csv
data/IL1_squareform_distance.csv
data/smallMatGeneNames.csv
data/IL1_squareform.csv
data/IL1_squareform2.csv
data/smallDistanceMatrix.csv
.git/objects/pack/pack-bdf38bf1ed012a1587080d90acbc2f636409d612.pack
.git/objects/pack/tmp_pack_nzlGCN
